* {
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    padding: 20px;
    margin:  20px;
}
.logo-blog{
    
    width: 230px;
    height: 120px;
}
.titulo-principal-materias
{
    color: #FCEE0C;
    outline: 2px solid yellow;
}
.titulo-materias{
    color: #FCEE0C;
}
.texto-blog{
    color: #00b8ff;
    padding-bottom: 10px;
}
.titulo-principal-noticias
{
    color: red;
    outline: 2px solid red;
}
.titulo-noticias{
    color: red;
}
.texto-noticias
{
    color: brown;
    padding-bottom: 10px;
}
.materias
{
    padding-bottom: 30px;
}