@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: black;
    --cor-secundaria: #f6fdf6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover{
    color: #007bff;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo
{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1023px){
    .cabecalho{
        padding: 10px;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }
}