Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Release/net9.0/ManipulandoStrings.GlobalUsings.g.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Release
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfoInputs.cache
