Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Release/net9.0/ManipulandoStrings.GlobalUsings.g.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Release
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/ManipulandoStrings/ManipulandoStrings/obj/Debug/net9.0/ManipulandoStrings.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/PraticandoStringAndRegex.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/UtilizandoYield/UtilizandoYield/obj/Release/net9.0/UtilizandoYield.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/UtilizandoYield/UtilizandoYield/obj/Release/net9.0/UtilizandoYield.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/UtilizandoYield/UtilizandoYield/obj/Release/net9.0/UtilizandoYield.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/UtilizandoYield/UtilizandoYield/obj/Debug/net9.0/UtilizandoYield.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/UtilizandoYield/UtilizandoYield/obj/Debug/net9.0/UtilizandoYield.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/TiposSalarios/TiposSalarios/obj/Release/net9.0/TiposSalarios.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/TiposSalarios/TiposSalarios/obj/Release/net9.0/TiposSalarios.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/TiposSalarios/TiposSalarios/obj/Debug/net9.0/TiposSalarios.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/TiposSalarios/TiposSalarios/obj/Debug/net9.0/TiposSalarios.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SistemaDePagamentos/SistemaDePagamentos/obj/Release/net9.0/SistemaDePagamentos.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SistemaDePagamentos/SistemaDePagamentos/obj/Release/net9.0/SistemaDePagamentos.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SistemaDePagamentos/SistemaDePagamentos/obj/Debug/net9.0/SistemaDePagamentos.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SistemaDePagamentos/SistemaDePagamentos/obj/Debug/net9.0/SistemaDePagamentos.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/README.MD
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/SerializacaoSimples.GlobalUsings.g.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/SerializacaoSimples.GeneratedMSBuildEditorConfig.editorconfig
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/SerializacaoSimples.assets.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/SerializacaoSimples.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/SerializacaoSimples.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Debug/net9.0/SerializacaoSimples.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples/obj/Debug/net9.0/SerializacaoSimples.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples.sln
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/README.MD
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoSimples/SerializacaoSimples.sln
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoPessoas/SerializacaoPessoas/obj/Release/net9.0/SerializacaoPessoas.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoPessoas/SerializacaoPessoas/obj/Release/net9.0/SerializacaoPessoas.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoPessoas/SerializacaoPessoas/obj/Debug/net9.0/SerializacaoPessoas.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/Program.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/PraticandoStringAndRegex.csproj
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/PraticandoStringAndRegex.GlobalUsings.g.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/PraticandoStringAndRegex.GeneratedMSBuildEditorConfig.editorconfig
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/PraticandoStringAndRegex.assets.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/PraticandoStringAndRegex.AssemblyInfoInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/project.nuget.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/project.assets.json
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/PraticandoStringAndRegex.csproj.nuget.g.targets
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/PraticandoStringAndRegex.csproj.nuget.g.props
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/PraticandoStringAndRegex.csproj.nuget.dgspec.json
Cursos_Alura/Carreira_Back-End.Net/exercicios/SerializacaoPessoas/SerializacaoPessoas/obj/Debug/net9.0/SerializacaoPessoas.AssemblyInfo.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/refint/PraticandoStringAndRegex.dll
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/ref/PraticandoStringAndRegex.dll
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.sourcelink.json
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.pdb
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.GlobalUsings.g.cs
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.genruntimeconfig.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.GeneratedMSBuildEditorConfig.editorconfig
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.dll
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.csproj.FileListAbsolute.txt
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.csproj.CoreCompileInputs.cache
Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0/PraticandoStringAndRegex.csproj.BuildWithSkipAnalyzers
/Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex/PraticandoStringAndRegex/obj/Debug/net9.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/PraticandoStringAndRegex
/Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/GeradorDeRelatorioConsole/obj/Debug/net8.0
/Cursos_Alura/Carreira_Back-End.Net/exercicios/ScreenSound_V4/ScreenSound_V4/obj
Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/.vs/GeradorDeRelatorios/v17/DocumentLayout.json
Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/.vs/GeradorDeRelatorios/v17/DocumentLayout.backup.json
Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/.vs/GeradorDeRelatorios/v17/.suo
Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/.vs/GeradorDeRelatorios/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Cursos_Alura/Carreira_Back-End.Net/exercicios/GeradorDeRelatorios/.vs/GeradorDeRelatorios/CopilotIndices/17.14.1231.31060/CodeChunks.db
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1
Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1/Fundamentos_HTML-Part2/Images/stephen-king-logo-png_seeklogo-492284.png
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 1
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap_1
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap_2
/Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2
Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2/Fundamentos_HTML-4/README.MD
Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2/Fundamentos_HTML-4/Index.HTML
Cursos_Alura/Carreira_Back-End.Net/exercicios/Fundamentos_HTML_e_CSS/Cap 2/Fundamentos_HTML-4/Images/stephen-king-logo-png_seeklogo-492284.png
