@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

body{
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: indigo;
    color: silver;
}
header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chamada{
    text-align: center;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.textoIsca{
    color: silver;
}
.texto-destaque{
    color: gold;
    padding-left: 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
span{
    color: dodgerblue;
    background-color: darkblue;
    border: 1px solid dodgerblue;
    padding: 5px;
}
.isca{
    display: flex;
    align-items: center;
}
.apresentacao{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.links__linksInfos{
    margin: 10px;
    background-color: #22d4fD;
    width: 280px;
    text-align: center;
    font-size: 25px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}
footer{
    color: silver;
    text-align: center;
    padding: 20px;
}
